.button {
  text-align: center
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
input {
  text-align: center;
  font-size: 18px;
  width: 30%;
      padding: 10px 5px;
      margin: 2px 0;
      box-sizing: border-box;
border-radius: 25px;
margin-bottom: 10px;
}
form {
  font-size: 20px;
  text-align: center


}
h1 {
  font: bold 50px Arial;
  text-align: center
}


h2 {
  font: 40px Arial;

}
