h1 {
  text-align: center;
  font-size: 65px;
}

input {
  text-align: left;
  font-size: 20px;
  width: 100%;
      padding: 25px 25px;
      margin: 10px 0;
      box-sizing: border-box;
border-radius: 25px;
}
